
<div class="panel panel-default timeline" *ngFor="let item of timeline.items">
    <div class="panel-heading">
        <p>
            Collector: <a href="#">{{item.user}}</a>; collected: {{item.date}}
            <button class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash"></span>Delete</button>
            <button class="btn btn-link pull-right"><span class="glyphicon glyphicon-zoom-in"></span>Show all</button>
        </p>
    </div>
    <div class="panel-body">
        {{item.content}}
    </div>
    <div *ngIf="item.type==='video'">
        <video [attr.src]="item.video.src" controls></video>
    </div>
    <div *ngIf="item.type==='audio'">
        <audio [attr.src]="item.audio.src" width="100%" controls></audio>
    </div>
    <div *ngIf="item.type==='images'">
        <div class="fullSize">
            <a href="bigsrc" data-lightbox="">
                <img [attr.src]="item.images[0].src" [attr.alt]="item.images[0].name" />
            </a>
        </div>
        <ul class="gallery">
            <li *ngFor="let image of item.images | slice:1">
                <a href="bigsrc" data-lightbox="">
                    <img [attr.src]="image.src" [attr.alt]="image.name" />
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="item.type==='files'">
        <ul class="gallery">
            <li *ngFor="let file of item.files">
                <a [attr.href]="file.src"><span class="icon"></span>{{file.name}}</a>
            </li>
        </ul>
    </div>
</div>
