
<form class="form">
    <div class="row">
        <div class="col-md-12" 
             style="margin-bottom: 8px">
            <input type="text" class="form-control"
                      placeholder="search term." 
                      [(ngModel)]="searchTerm" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label *ngFor="let type of searchTypes"><input type="checkbox" [(checked)]="type.selected" />{{type.name}}&nbsp;</label>            
        </div>
        <div class="col-md-4">
            <button type="button" 
                    class="btn btn-primary pull-right" 
                    (click)="doSearch()">Search</button>
        </div>
    </div>
</form>